@tailwind base;
@tailwind components;
@tailwind utilities;


/* Header */

.headerContainer{
  width: 90rem;
  height: 3rem;
  justify-content: space-between;
}

.toggleImg{
  height: 3rem;
  padding: 6px;
  /* margin-left: 26px; */
}



.searchbox{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 50px 0 0 50px;
  width: 410px;
}

.btnborder{
  border: 1px solid black;
  height: 42px;
}

