@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  width: 1440px;
  height: 60px;
}


.left-side{
  width: 400px;
  height: 60px;
}

.center-div{
  width: 560px;
  height: 60px;
}
.right-side{
  width: 480px;
 
  height: 60px;
}

/* Input box */
.searchbox{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 50px 0 0 50px;
  width: 410px;
}

.btnborder{
  border: 1px solid black;
  height: 42px;
}